{% extends 'layout.html' %}
 
{% block content %}
 <div class="row">
	<div class="col-md-6">
		<h3 class="text-center">Search Criteria Form</h3>
		<form action="tweets" method="post">
			<div class="form-group">
				<label for="start_date">Start Date</label>
				<input type="date" name="start" id="start_date" class="form-control">
			</div>
			<div class="form-group">
				<label for="end_date">End Date</label>
				<input type="date" name="end" id="end_date" class="form-control">
			</div>
			<div class="form-group">
				<label for="tweet_input">Tweet Input</label>
				<input type="text" name="tweet" id="tweet_input" class="form-control">
			</div>
			<div class="form-group">
				<input type="radio" name="specifier" value="topic" checked class="radio-inline">Topic</input>
				<input type="radio" name="specifier" value="tweet" class="radio-inline">Tweet ID</input>		
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
		<br>
		<small>Note: Can't search by topic for tweets that are over a week old!</small>
	</div>
	<div class="col-md-6">
		<h3 class="text-center">Relevant Tweets</h3>
		{% block tweets %}
		{% endblock %}
	</div>
</div>
<footer>
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<p class="text-center">McIntyre, Rude &copy;2016</p>
		</div>
		<div class="col-md-4"></div>
	</div>
</footer>
{% endblock %}